Data/cf-standard-names/13/src/area-type-table.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 rel. 3 U (http://www.xmlspy.com) by Bob Drach (UNIV OF CA LLNL) -->
<!--W3C Schema generated by XMLSPY v5 rel. 2 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="qualified">
	<xs:element name="contact" type="xs:string">
		<xs:annotation>
			<xs:documentation>The person or institution that is responsible for maintaining the standard name table.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="description" type="xs:string">
		<xs:annotation>
			<xs:documentation>A textual description of the variable.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="entry">
		<xs:annotation>
			<xs:documentation>An entry element contains the description, units, and correspondence to other standard name schemes, for one variable.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:all>
				<xs:element ref="description"/>
			</xs:all>
			<xs:attribute name="id" type="xs:ID" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="entry_id" type="xs:IDREF">
		<xs:annotation>
			<xs:documentation>See alias.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="institution" type="xs:string">
		<xs:annotation>
			<xs:documentation>Institution that maintains the standard name table.</xs:documentation>
		</xs:annotation>
	</xs:element>
    <xs:element name="version_number" type="xs:string">
        <xs:annotation>
            <xs:documentation>Version number of the standard name table.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="last_modified" type="xs:dateTime">
        <xs:annotation>
            <xs:documentation>Last modified datetime.</xs:documentation>
        </xs:annotation>
    </xs:element>
	<xs:element name="area_type_table">
		<xs:annotation>
			<xs:documentation>Top level element of the table.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
                <xs:element ref="version_number"/>
                <xs:element ref="last_modified"/>
				<xs:element ref="institution"/>
				<xs:element ref="contact"/>
				<xs:element ref="entry" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
